@import "../abstract";

.complaint {
	width: 100%;
	min-width: 280px;
	height: 110px;
	display: flex;
	align-items: center;
	margin-top: 1rem;
	justify-content: flex-start;
	box-sizing: border-box;

	&__content {
		font-family: $font-default;
		display: flex;
		height: 100%;
		align-items: stretch;
		box-sizing: border-box;
		justify-content: flex-start;
		flex-direction: column;
		overflow: hidden;
		padding: 8px;

		&--has-photo {
			flex-direction: row;
			justify-content: space-between;

			.complaint {
				&__label {
					width: 100%;
					max-width: none;
				}
			}
		}
	}

	&__photo-section {
		display: flex;
		height: 100%;
		box-sizing: border-box;
		justify-content: space-between;
		font-family: $font-default;
		width: 30%;
		min-width: 72px;
		flex-direction: column;

		div:first-child {
			display: flex;
			flex-direction: column;
			max-width: 160px;
			margin-right: 10px;
		}
	}

	&__photo {
		object-fit: cover;
		width: 100%;
		height: 70%;
		border-radius: 6px;
	}

	&__card {
		width: 100%;
		box-sizing: border-box;
		height: 100%;
		min-height: 80px;
		min-width: 240px;
		border: var(--color-secondary--blue) 2px solid;
		border-radius: 12px;
		margin-right: 12px;

		&--has-photo {
			display: flex;
			height: 100%;
			box-sizing: border-box;
			justify-content: space-between;
			padding: 8px;
			font-family: $font-default;

			div:first-child {
				display: flex;
				flex-direction: column;
				max-width: 160px;
				margin-right: 10px;
			}
		}
	}

	&__title {
		@include font-style("subheader");
		max-width: 180px;
		font-weight: bold;
		white-space: nowrap;
		text-align: start;
		color: var(--color-secondary--blue);

		&__photo {
			@include font-style("caption");
			margin-bottom: 6px;
			white-space: normal;
		}

		&--has-photo {
			margin-bottom: 8px;
		}
	}

	&__label {
		border-radius: 0.5rem;
		background-color: var(--color-secondary--yellow);
		max-width: max-content;
		max-height: 13.5px;
		margin: 6px 0;
		p {
			text-align: center;
			padding: 2px;
			padding-left: 0.6rem;
			padding-right: 0.6rem;
			@include font-style("subcaption");
			color: var(--color-background);
			font-weight: bold;
		}
	}

	&__upvote {
		border: var(--color-primary) 2px solid;
		border-radius: 1.4rem;
		background-color: transparent;
		height: 100%;
		min-height: 90px;
		min-width: 36px;
		width: 36px;
		transition: all 0.3s ease;
		outline: none;
		&--submitted {
			border: var(--color-primary) 2px solid;
			border-radius: 1.4rem;
			background-color: var(--color-primary);
			height: 100%;
			min-height: 90px;
			min-width: 36px;
			width: 36px;
			transition: all 0.3s ease;
			outline: none
		}
		&--confirmed {
			border: var(--color-secondary--blue) 2px solid;
			background-color: var(--color-secondary--blue);
		}
		&--selected {
			border: var(--color-secondary--blue) 2px solid;
		}
	}

	&__upvote:hover {
		cursor: pointer;
		opacity: 80%;
	}
	

	&__description {
		@include font-style("caption");
		text-align: left;
		color: var(--text-color);
	}

	&__icon {
		width: 1.2rem;

		&--selected {
			stroke: var(--color-background);
			#circle {
				fill: var(--color-background);
			}
		}

		&--unselected {
			stroke: var(--color-primary);
			#circle {
				fill: var(--color-primary);
			}
		}
	}

	&__check {
		width: 1.2rem;

		&--unselected {
			fill: var(--color-secondary--blue)
		}

		&--selected {
			fill: var(--color-background);
		}
	}
}
