@import '../abstract';

.side-drawer {
	height: 100%;
	background: var(--color-background);
	position: fixed;
	top: 0;
	right: 0;
	width: 80%;
	max-width: 420px;
	z-index: 200;
	transform: translateX(100%);
	transition: transform 0.3s ease-out;

	box-sizing: border-box;
	padding: 1rem;

	&__content {
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__button {
		background-color: Transparent;
		background-repeat: no-repeat;
		border: none;
		cursor: pointer;
		overflow: hidden;
		outline: none;
	}

	&__close {
		width: 2rem;
		height: 2rem;
		@media (max-width: 370px) {
			width: 1.5rem;
			height: 1.5rem;
		}
		@media (max-width: 320px) {
			width: 1rem;
			height: 1rem;
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
	}

	&__mode {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
		max-width: 260px;

		margin: 0 auto;
		cursor: pointer;
	}

	&__toggle {
		width: 2rem;
		height: 2rem;
		padding-bottom: 8px;
		margin-right: 12px;
		@media (max-width: 370px) {
			width: 1.5rem;
			height: 1.5rem;
		}
		@media (max-width: 300px) {
			width: 1rem;
			height: 1rem;
		}
	}

	&__text {
		text-decoration: none;
		color: var(--color-primary);
		font-family: $font-default;
		font-size: 23px;
    padding-top: 2.5em;
		@media (max-width: 370px) {
			font-size: 18px;
      padding-top: 2rem;
		}
		@media (max-width: 300px) {
			font-size: 10px;
      padding-top: 1.5rem;
		}
	}

	&__bottom_text {
		text-decoration: none;
		color: var(--color-primary);
		font-size: 20px;
		font-family: $font-default;
		@media (max-width: 370px) {
			font-size: 18px;
		}
		@media (max-width: 300px) {
			font-size: 10px;
		}
	}
}


.side-drawer.open {
	transform: translateX(0);
}
