@import '../abstract';

.navbar {
	width: 100%;
	max-height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0.5rem 1rem;

	&__isotipo {
		width: 4rem;
		height: 4rem;
		@media (max-width: 480px) {
			width: 2.75rem;
			height: 2.75rem;
		}
	}

	&__button {
		background-color: transparent;
		border: none;
	}

	&__hamburguer {
		width: 2rem;
		height: 2rem;
		display: flex;
		justify-content: space-around;
		flex-flow: column nowrap;

		div {
			width: 2rem;
			height: 0.25rem;
			background-color: #f87171;
			border-radius: 10px;
			transform-origin: 1px;
			transition: all 0.25s ease;
		}
	}
}
